<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="com.zb.entity.ItripHotelOrder">
        INSERT INTO `itrip_hotel_order`
        values(
                    #{id},
                     #{userId},
                     #{orderType},
                     #{orderNo},
                     #{tradeNo},
                     #{hotelId},
                     #{hotelName},
                     #{roomId},
                     #{count},
                     #{bookingDays},
                     #{checkInDate},
                     #{checkOutDate},
                     #{orderStatus},
                     #{payAmount},
                     #{payType},
                     #{noticePhone},
                     #{noticeEmail},
                     #{specialRequirement},
                     #{isNeedInvoice},
                     #{invoiceType},
                     #{invoiceHead},
                     #{linkUserName},
                     #{bookType},
                    now(),
                     #{createdBy},
                     now(),
                    #{modifiedBy})
    </insert>

    <select id="findOrderByid" resultType="com.zb.entity.ItripHotelOrder">
        SELECT *FROM `itrip_hotel_order` WHERE id=#{id};
    </select>

    <update id="updateOrder">
        UPDATE `itrip_hotel_order` SET orderStatus=2 ,tradeNo=#{tradeNo} WHERE orderNo=#{orderNo};
    </update>

    <update id="updateStatetohasConsumed">
        UPDATE `itrip_hotel_order` SET orderStatus=3 WHERE checkInDate &lt;NOW()  AND orderStatus=2
    </update>

    <select id="findOrderByUserid" resultType="com.zb.entity.ItripHotelOrder">
        SELECT *FROM `itrip_hotel_order` WHERE userid=#{userId} ORDER BY modifyDate DESC LIMIT 0,1
    </select>

    <update id="updateStatetoFinish">
        UPDATE `itrip_hotel_order`SET orderStatus=1 WHERE orderNo=#{orderNo}
    </update>

    <select id="findOrderByOrderNo" resultType="com.zb.entity.ItripHotelOrder">
        SELECT *FROM `itrip_hotel_order` WHERE  orderNo=#{orderNo}
    </select>
</mapper>